*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.App{
    font-family: sans-serif;
    background-image: -webkit-linear-gradient(0deg, rgba(18, 35, 54, 0.8), rgba(0, 0, 0, 0.8)), url('./img/bg.png');
    background-image: linear-gradient(0deg, rgba(10, 13, 17, 0.8), rgba(0, 0, 0, 0.8)), url('./img/pngtree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;   
    overflow: hidden; 
}

.header{
    padding: 20px;
}
.header img{
    border-radius: 50%;
    width: 55px;
    height: 50px;
}

.context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 20vw;
    margin: 0 auto;    
    margin-bottom: 10px;
}
.context h1{
    color: whitesmoke;
    font-size: 50pt;
    margin-bottom: 10px;
    text-align: center;
    
}
.context p{
    text-align: center;
    color: whitesmoke;
    opacity: 0.5;
    line-height: 25px;
}

.waitlist-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
.waitlist-form input{
    height: 60px;
    width: 100%;
    border-radius: 18px 0 0 18px;
    padding: 8px;    
    color: black;
    font-size: 18pt;
    font-weight: 400;
    outline: none;
    opacity: 0.2;
    border: none;
}
.waitlist-form button{
    height: 60px;
    width: 35%;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px;
    border-radius: 0px 18px 18px 0;
    border: none;
}

.footer{
    color: whitesmoke;
    opacity: 0.5;
    font-size: 15pt;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vw;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


@media screen and (max-width: 992px ){
    .context{
        width: 90%;
        height: 70vw;        
    }
    .context h1{
        font-size: 46pt;
    }

    .waitlist-form{
        width: 70%;
    }

    .footer{
        height: 50vw;
    }
}


@media screen and (max-width: 768px) {
    .context{
        width: 90%;
        height: 80vw;
        margin-bottom: 35px;
    }
    .context h1{
        text-align: left;
        font-size: 18pt;
        line-height: 35px;
    }
    .context p{
        font-size: 13pt;
        text-align: left;
        line-height: 28px;
    }

    .waitlist-form{
        width: 90%;
    }
    .waitlist-form input{
        font-size: 16pt;
        height: 50px;
    }
    .waitlist-form button{
        font-size: 12pt;
        font-weight: 500;
        height: 50px;
    }

    .footer{
        height: 40vw;
    }
}